Makefile.in
Makefile
.deps
.libs
test-suite.log
*~

/auto.out
/config.out
/dist.out
/doc/doc.out
/doc/readme.out

/config/ar-lib
/config/argz.m4
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/libtool.m4
/config/ltdl.m4
/config/ltmain.sh
/config/ltoptions.m4
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/missing
/config/test-driver

/config.log
/config.status
/configure
/autom4te.cache
/aclocal.m4
/tags
/hwloc.pc
/libtool

/include/hwloc/autogen/config.h
/include/hwloc/autogen/stamp-h2
/include/private/autogen/config.h
/include/private/autogen/config.h.in
/include/private/autogen/stamp-h1

/doc/doxygen-config.cfg
/doc/doxygen-doc/
/doc/images/diagram.eps
/doc/images/diagram.png
/doc/examples/hwloc-hello
/doc/examples/hwloc-hello-cpp
/doc/examples/hwloc-hello-cpp.cpp
/doc/examples/cpuset+bitmap+cpubind
/doc/examples/nodeset+membind+policy
/doc/examples/sharedcaches
/doc/examples/get-knl-modes
/doc/examples/*.o
/doc/examples/*.log
/doc/examples/*.trs

/src/static-components.h
/src/*.lo
/src/libhwloc.la
/src/libltdl/

/tests/wrapper.sh
/tests/hwloc_list_components
/tests/hwloc_bitmap
/tests/hwloc_bitmap_compare_inclusion
/tests/hwloc_bitmap_string
/tests/hwloc_get_closest_objs
/tests/hwloc_get_obj_covering_cpuset
/tests/hwloc_get_cache_covering_cpuset
/tests/hwloc_get_largest_objs_inside_cpuset
/tests/hwloc_get_next_obj_covering_cpuset
/tests/hwloc_get_obj_inside_cpuset
/tests/hwloc_get_shared_cache_covering_obj
/tests/hwloc_get_obj_below_array_by_type
/tests/hwloc_bitmap_first_last_weight
/tests/hwloc_bitmap_singlify
/tests/hwloc_type_depth
/tests/hwloc_bind
/tests/hwloc_get_last_cpu_location
/tests/hwloc_object_userdata
/tests/hwloc_synthetic
/tests/hwloc_custom
/tests/hwloc_backends
/tests/hwloc_pci_backend
/tests/hwloc_is_thissystem
/tests/hwloc_distances
/tests/hwloc_groups
/tests/hwloc_groups2
/tests/hwloc_insert_misc
/tests/hwloc_topology_restrict
/tests/hwloc_obj_infos
/tests/hwloc_iodevs
/tests/hwloc_topology_diff
/tests/hwloc_topology_dup
/tests/xmlbuffer
/tests/gl
/tests/intel-mic
/tests/linux-libnuma
/tests/glibc-sched
/tests/openfabrics-verbs
/tests/myriexpress
/tests/opencl
/tests/cuda
/tests/cudart
/tests/nvml
/tests/*.o
/tests/*.log
/tests/*.trs

/tests/linux/test-topology.sh
/tests/linux/*.log
/tests/linux/*.trs

/tests/linux/allowed/test-topology.sh
/tests/linux/allowed/*.log
/tests/linux/allowed/*.trs

/tests/linux/gather/test-gather-topology.sh
/tests/linux/gather/*.log
/tests/linux/gather/*.trs

/tests/ports/*.c
/tests/ports/*.la
/tests/ports/*.lo

/tests/xml/test-topology.sh
/tests/xml/*.log
/tests/xml/*.trs

/utils/hwloc/*.o
/utils/hwloc/hwloc-annotate
/utils/hwloc/hwloc-annotate.1
/utils/hwloc/hwloc-assembler
/utils/hwloc/hwloc-assembler-remote
/utils/hwloc/hwloc-assembler-remote.1
/utils/hwloc/hwloc-assembler.1
/utils/hwloc/hwloc-bind
/utils/hwloc/hwloc-bind.1
/utils/hwloc/hwloc-calc
/utils/hwloc/hwloc-calc.1
/utils/hwloc/hwloc-compress-dir
/utils/hwloc/hwloc-compress-dir.1
/utils/hwloc/hwloc-diff
/utils/hwloc/hwloc-diff.1
/utils/hwloc/hwloc-distances
/utils/hwloc/hwloc-distances.1
/utils/hwloc/hwloc-distrib
/utils/hwloc/hwloc-distrib.1
/utils/hwloc/hwloc-dump-hwdata
/utils/hwloc/hwloc-dump-hwdata.1
/utils/hwloc/hwloc-gather-topology
/utils/hwloc/hwloc-gather-topology.1
/utils/hwloc/hwloc-info
/utils/hwloc/hwloc-info.1
/utils/hwloc/hwloc-patch
/utils/hwloc/hwloc-patch.1
/utils/hwloc/hwloc-ps
/utils/hwloc/hwloc-ps.1
/utils/hwloc/hwloc.7
/utils/hwloc/test-fake-plugin.sh
/utils/hwloc/test-hwloc-annotate.sh
/utils/hwloc/test-hwloc-assembler.sh
/utils/hwloc/test-hwloc-calc.sh
/utils/hwloc/test-hwloc-compress-dir.sh
/utils/hwloc/test-hwloc-diffpatch.sh
/utils/hwloc/test-hwloc-distances.sh
/utils/hwloc/test-hwloc-distrib.sh
/utils/hwloc/test-hwloc-info.sh
/utils/hwloc/test-*.sh.log
/utils/hwloc/test-*.sh.trs

/utils/lstopo/*.o
/utils/lstopo/lstopo
/utils/lstopo/lstopo-no-graphics
/utils/lstopo/lstopo-no-graphics.1
/utils/lstopo/test-hwloc-ls.sh
/utils/lstopo/test-*.sh.log
/utils/lstopo/test-*.sh.trs

/contrib/systemd/hwloc-dump-hwdata.service
