/configure
/autom4te.cache
/config.cache
/config.log
/config.status
/aclocal.m4
/libtool
.libs
Makefile.in
Makefile
stamp-h*
.deps
*.o
*.lo
*.la
.libs
*~
,*
+*
/build-aux/*
/m4/libtool.m4
/m4/lt*.m4
/include/config.h*
/tests/linux/test-topology.sh
