# Copyright © 2010-2011 INRIA.  All rights reserved.
# Copyright © 2009 Cisco Systems, Inc.  All rights reserved.
# See COPYING in top-level directory.

###############################################################
# Customized for output onto the www.open-mpi.org web site.
###############################################################

@INCLUDE = doxygen.cfg

#PROJECT_NUMBER     = @VERSION@
OUTPUT_DIRECTORY    = www.open-mpi.org
BRIEF_MEMBER_DESC   = YES
SHORT_NAMES         = NO
SHOW_FILES          = YES
#EXAMPLE_PATH       = @top_srcdir@/doc
#IMAGE_PATH         = @top_srcdir@/doc/images images
HTML_FILE_EXTENSION = .php
HTML_HEADER         = www.open-mpi.org-header.inc
HTML_FOOTER         = www.open-mpi.org-footer.inc
LATEX_CMD_NAME      = latex
PAPER_TYPE          = letter
EXTRA_PACKAGES      = 
LATEX_SOURCE_CODE   = NO
GENERATE_MAN        = NO
#INCLUDE_PATH       = @top_srcdir@/doc
