# should only be used when lstopo is built with Cairo/X11 support
# so that no terminal is required
[Desktop Entry]
Name=Hardware Locality lstopo
Comment=Show hardware topology
Comment[ar]=عرض البنية الأجهزة
Comment[ca]=Mostra la topologia del maquinari
Comment[cs]=Zobrazit topologii hardwaru
Comment[de]=Zeige Hardware Topologie
Comment[es]=Mostrar topología de hardware
Comment[id]=Tampilkan topologi perangkat keras
Comment[it]=Mostra la topologia hardware
Comment[ja]=ハードウエアトポロジの表示
Comment[nl]=Hardware topologie tonen
Comment[pt_BR]=Mostrar topologia de hardware
Comment[ru]=Показать топологию оборудования
Comment[sk]=Ukázať topológiu hardvéru
Comment[uk]=Показати топологію обладнання
Comment[zh_CN]=显示硬件拓扑结构
Exec=lstopo
Terminal=false
Type=Application
Categories=System;Monitor;
Keywords=System;Utility;
Keywords[ca]=Sistema;Utilitat;
Keywords[cs]=Systém;Utilita;
Keywords[id]=Sistem;Utilitas;
Keywords[it]=Sistema;Utilità;
Keywords[ja]=システム; ユーティリティ;
Keywords[nl]=Systeem;Hulpprogramma;
Keywords[pt_BR]=Sistema;Utilitário;
Keywords[ru]=Система;Утилита;
Keywords[sk]=Systém;Utility;
Keywords[sv]=System;Verktyg;
Keywords[zh_CN]=系统；实用工具；
Icon=hwloc
