[Desktop Entry]
Name=Hardware Locality ls
Name=Show hardware topology
Exec=hwloc-ls
Terminal=false
Type=Application
Categories=Application;System;
Keywords=System;Utility;
